<div class="subscribe-news-letter-wrapper">
    <div class="container">
        <div class="subscribe-news-letter-card">
            <div class="row">
                <div class="col-lg-6 py-3 ps-5">
                    <h4 class="footer-header">
                        Subscribe <br /> Newsletter
                    </h4>
                    <p class="footer-header-text ">The Travel</p>
                    <p class="footer-content">Get inspired! Receive travel discounts, tips and behind the scenes
                        stories.</p>
                    <div class="d-flex justify-content-between">
                        <input type="text" placeholder="Your email address" class="footer-form w-78 mr-3" />
                        <button class="btn btn-subscribe me-3 me-lg-0">Subscribe</button>
                    </div>
                </div>
                <div class="col-lg-6 d-none d-lg-block px-4 text-right">
                    <img class="img-fluid" src="assets/Images/footer-banner.png">
                </div>
            </div>
        </div>
    </div>
</div>