<nav class="navbar navbar-expand-lg header-nav">
    <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-center d-flex align-items-center justify-content-lg-center">
            <img class="img-fluid d-block d-lg-none" src="assets/Images/Logo.png">
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <div class="row w-100">
                <div class="col-lg-4">
                    <ul class="navbar-nav">
                        <li class="nav-item d-flex align-items-center header-nav pe-3 active ">
                            <img class="me-3 me-lg-0" src="assets/Images/icons/flight.png">
                            <a class="nav-link " aria-current="page" href="http://localhost:4200/dashboard">Find
                                Flight</a>
                        </li>
                        <li class="nav-item d-flex align-items-center header-nav ">
                            <img class="me-3 me-lg-0" src="assets/Images/icons/stay.png">
                            <a class="nav-link" href="http://localhost:4200/dashboard">Find Stays</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 text-center d-flex align-items-center justify-content-lg-center">
                    <img class="img-fluid d-none d-lg-block" src="assets/Images/Logo.png">
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-lg-end">
                    <div class="d-flex align-items-center justify-content-end pb-3 pb-lg-0">
                        <i class="fa-solid fa-heart mx-2"></i>
                        Favourites<span class="mx-4 font-weight-medium"> |</span>
                        <div class="position-relative">
                            <img src="assets/Images/profile-pic.png">
                            <div class="profile-icon">
                                <i class="fa-solid fa-angle-down"></i>
                            </div>
                        </div>
                        <span class="mx-3 font-weight-medium">John D.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
