<app-footer-subscribe></app-footer-subscribe>
<div class="footer-bg-white position-relative">
    <div class="footer-bg pt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-lg-2 col-xs-4 col-5">
                    <img src="assets/Images/Logo-black.png">
                    <div class="mt-3">
                        <img class="mr-2" src="assets/Images/icons/facebook-black.png">
                        <img class="mx-2" src="assets/Images/icons/twitter.png">
                        <img class="mx-2" src="assets/Images/icons/youtube.png">
                        <img class="mx-2" src="assets/Images/icons/instagram.png">
                    </div>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-4 col-5">
                    <ul class="footer-text pb-5 ps-0">
                        <li>Our Destinations</li>
                        <li>Canada </li>
                        <li>Alaksa</li>
                        <li>France</li>
                        <li>Iceland</li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-4 col-5">
                    <ul class="footer-text ps-0">
                        <li>Our Activities</li>
                        <li>Northern Lights </li>
                        <li>Cruising & sailing</li>
                        <li>Multi-activities</li>
                        <li>Kayaing</li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-4 col-5">
                    <ul class="footer-text ps-0">
                        <li> Travel Blogs</li>
                        <li>Bali Travel Guide </li>
                        <li>Sri Lanks Travel Guide</li>
                        <li>Peru Travel Guide</li>
                        <li>Bali Travel Guide</li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-4 col-5">
                    <ul class="footer-text ps-0">
                        <li>About Us</li>
                        <li>Our Story </li>
                        <li>Work with us</li>
                    </ul>
                </div>
                <div class="col-md-3 col-lg-2 col-xs-4 col-5">
                    <ul class="footer-text ps-0">
                        <li>Contact Us</li>
                        <li>Our Story </li>
                        <li>Work with us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>