.signup-left{
    width: 340px;
}
h3{
    font-size: 40px;
    font-weight: 600;
    font-family: 'Trade Gothic LT Std', sans-serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    font-Weight:400;
    font-Size:16px;
}