<div class="card p-3">
    <div class="row">
        <div class="col-lg-1 col-12 pe-0 text-center mb-3 mb-lg-0">
            <div class="card-logo-section py-3">
                <img src="assets/Images/cvk-img.png">
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-start">
                <div
                    class="time-wrap d-flex align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                    <p class="flight-location">Check-In <br />
                        <span>Thur, Dec 8</span>
                    </p>
                    <div class="border-space mx-3"></div>
                    <p class="flight-location"> Check Out <br />
                        <span>Fri, Dec 9</span>
                    </p>
                </div>
                <div class="d-flex">
                    <div >
                        <div class="d-flex align-items-center mx-3 mb-2">
                            <div class="icon-wrap">
                                <img src="assets/Images/icons/timmer.png">
                            </div>
                            <p class="Date-details ms-2 mb-0"> Check-In time<br />
                                <span>12:00pm</span>
                            </p>
                        </div>
                        <div class="d-flex align-items-center mx-3 mb-2">
                            <div class="icon-wrap">
                                <img src="assets/Images/icons/timmer.png">
                            </div>
                            <p class="Date-details ms-2 mb-0">Check-In out<br />
                                <span>11:30am</span>
                            </p>
                        </div>
                    </div>
                    <div >
                        <div class="d-flex align-items-center mx-3 mb-2">
                            <div class="icon-wrap">
                                <img src="assets/Images/icons/gate.png">
                            </div>

                            <p class="Date-details ms-2 mb-0"> Room no.<br />
                                <span>On arrival</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="button-wrap mt-4">
                <button class="btn btn-primary me-3">Download Ticket</button>
                <button class="btn btn-social-media w-20">
                    <i class="fa-solid fa-angle-down fa-rotate-270"></i>
                </button>
            </div>
        </div>
    </div>
</div>