<div class="card p-3">
    <div class="row">
        <div class="col-lg-1 col-12 pe-0 text-center mb-3 mb-lg-0">
            <div class="card-logo-section py-3">
                <img src="assets/Images/emirates-logo.png">
            </div>
        </div>
        <div class="col-lg-8 col-12">
            <div class="d-flex align-items-center flex-wrap justify-content-center justify-content-md-start">
                <div
                    class="time-wrap d-flex align-items-center justify-content-center justify-content-lg-start mb-3 mb-lg-0">
                    <p class="flight-location"> Newark(EWR) <br />
                        <span>12:00 pm</span>
                    </p>
                    <div class="border-space mx-3"></div>
                    <p class="flight-location"> Newark(EWR) <br />
                        <span>12:00 pm</span>
                    </p>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="d-flex align-items-center mx-3 mb-2">
                            <div class="icon-wrap">
                                <img src="assets/Images/icons/calendar.png">
                            </div>
                            <p class="Date-details ms-2 mb-0"> Date<br />
                                <span>12-11-22</span>
                            </p>
                        </div>
                        <div class="d-flex align-items-center mx-3 mb-2">
                            <div class="icon-wrap">
                                <img src="assets/Images/icons/timmer.png">
                            </div>
                            <p class="Date-details ms-2 mb-0">Flight Time<br />
                                <span>Newark(EWR)</span>
                            </p>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="d-flex align-items-center mx-3 mb-2">
                            <div class="icon-wrap">
                                <img src="assets/Images/icons/gate.png">
                            </div>

                            <p class="Date-details ms-2 mb-0"> Gate<br />
                                <span>A12</span>
                            </p>
                        </div>
                        <div class="d-flex align-items-center mx-3 mb-2">
                            <div class="icon-wrap">
                                <img src="assets/Images/icons/seat-no.png">
                            </div>

                            <p class="Date-details ms-2 mb-0"> Seat no:<br />
                                <span>28</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-12">
            <div class="button-wrap mt-4">
                <button class="btn btn-primary me-3">Download Ticket</button>
                <button class="btn btn-social-media w-20">
                    <i class="fa-solid fa-angle-down fa-rotate-270"></i>
                </button>
            </div>
        </div>
    </div>
</div>